.a{
    height: 600px;
    width: 800px;
    background-color: aqua;
}
.b{
    height: 100px; 
    width:800px;
    background-color: antiquewhite;
}
.c{
    height: 100px;
     width:100px;
     background-color: rgb(124, 124, 123);
     float: left;
}
.d{
    height: 100px; width:700px ;background-color: rgb(243, 151, 31);float:right;
}
.e{
    height: 100px; width:500px ;background-color: rgb(237, 111, 14);float: left;
}
.f{
    height: 100px; width:200px ;background-color: rgb(39, 29, 17);float: right;
}
.g{
    height: 50px; width:200px ;background-color: antiquewhite;
}
.h{
    height: 50px; width:200px ;background-color: rgb(121, 100, 72);
}
.i{
    height: 50px; width:100px ;background-color: rgb(80, 64, 43);float: left;
}
.j{
    height: 50px; width:100px ;background-color: rgb(13, 19, 217);
}
.k{
    height: 500px; width:800px ;background-color: rgb(240, 199, 145);
}
.l{
    height: 500px; width:100px ;background-color: rgb(116, 99, 245);float: left;
}
.m{
    height: 350px; width:100px ;background-color: antiquewhite;
}
.n{
    height: 150px; width:100px ;background-color: rgb(138, 80, 5);
}
.o{
    height: 150px; width:50px ;background-color: rgb(32, 31, 30);float: left;
}
.p{
    height: 150px; width:50px ;background-color: rgb(235, 16, 169);float: right;
}
.q{
    height: 500px; width:700px ;background-color: rgb(62, 44, 21);float: right;
}
.r{
    height: 100px; width:700px ;background-color: rgb(143, 140, 135);
}
.s{
    height: 400px; width:700px ;background-color: rgb(194, 180, 230);
}
.t{
    height: 400px; width:100px ;background-color: aqua;float: left;
}
.u{
    height: 250px; width:100px ;background-color: rgb(177, 149, 244);
}
.v{
    height: 250px; width:50px ;background-color: rgb(22, 21, 21);float: left;
}
.w{
    height: 250px; width:50px ;background-color: rgb(223, 131, 12);float: right;
}
.x{
    height: 150px; width:100px ;background-color: rgb(17, 118, 177);
}
.y{
    height: 400px; width:600px ;background-color: rgb(158, 114, 152);float: right;
}
.z{
    height: 400px; width:100px ;background-color: antiquewhite;float: left;
}
.aa{
    height: 400px; width:500px ;background-color: rgb(230, 13, 13);float: right;
}
.bb{
    height: 100px; width:500px ;background-color: aquamarine;
}
.cc{
    height: 300px; width:500px ;background-color: aqua;
}
.dd{
    height: 300px; width:200px ;background-color: rgb(146, 58, 234);float: left;
}
.ee{
    height: 150px; width:200px ;background-color: rgb(83, 69, 50);
}
.ff{
    height: 150px; width:200px ;background-color: rgb(166, 115, 48);
}
.gg{
    height: 150px; width:100px ;background-color: rgb(121, 106, 86);float: left;
}
.hh{
    height: 150px; width:100px ;background-color: antiquewhite;float: right;
}
.ii{
    height: 300px; width:300px ;background-color: antiquewhite; float: right;
}
.jj{
    height: 300px; width:100px ;background-color: rgb(19, 18, 18);float: left;
}
.kk{
    height: 300px; width:200px ;background-color: rgb(172, 106, 19);float: right;
}
.ll{
    height: 150px; width:200px ;background-color: antiquewhite;
}
.mm{
    height: 150px; width:200px ;background-color: rgb(158, 13, 188);
}
.nn{
    height: 150px; width:100px ;background-color: rgb(167, 99, 11);float: left;
}
.oo{
    height: 150px; width:100px ;background-color: rgb(170, 165, 171);float: right;
}












