.a{
    height: 510px;
    width: 450px;
    border: 5px solid black;
    margin: 10px;
    padding: 20px;
}
.b{
    text-align: center;
    color: greenyellow;
    margin: 0px;
}
h1{
    margin-left: 170px;
}
.t{
    height: 50px;
    width: 50px;
    color:aquamarine

}
.i{
    height: 50px;
    width: 50px;
}
.g{
    height: 50px; 
    width: 50px;
     border: 1px solid green; 
     background-color:  rgb(149, 145, 145);
}
.w{
    height: 50px; 
    width: 50px;
    border: 1px solid green;
    background-color: white;
}
