.input{
    margin-left: 80px;
    width: 382px;
    margin-right: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    color: rgb(81, 80, 80);
    font-size: 10px;
}

#for{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 15px;
    
    
}
.inputt{
    margin-left: 110px;
    width: 382px;
    margin-right: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    color: rgb(81, 80, 80);
    font-size: 10px;
}
.inputtt{
    margin-left: 105px;
    width: 382px;
    margin-right: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    color: rgb(81, 80, 80);
    font-size: 10px;
}
.inputttt{
    margin-left: 100px;
    width: 383px;
    margin-right: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    color: rgb(81, 80, 80);
    font-size: 10px;
}
.inputtttt{
    color: rgb(81, 80, 80);
    font-size: 10px;
    margin-left: 91px;
    width: 383px;
    margin-right: 1px;
    margin-top: 8px;
    padding: 5px;
    
}
#btn{
    height: 30px;
    width: 130px;
    background-color: rgb(0, 136, 255);
    margin-left: 150px;
    color: white;
    margin-top: 25px;
    border-radius: 4px;
    border-style: hidden;
}


