*{
    margin: 0px;
    
}
.a{
    height: 670px;
    width: 1000px;
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 245px;
    margin-right: 245px;
}
.b{
    height: 35px;
    width: 980px;
    margin-top: 5px;
    border: 3px solid black;
    border-style: hidden;
    background-color: white;
    padding-left: 300px;
    margin-bottom: 10px;
    
}
.main{
    height: 670px;
    width: 1000px;
    background-color: aliceblue;
}
.g{
    background-color: lightgreen;
    border-style: hidden;
    border-radius: 2px;
    padding: 6px;
    font-size: 13px;
    color: white;
    height: 25px;
    width: 80px;
    margin-top: 3px;
    margin-bottom: 10px;
    
}
.s{
    background-color: skyblue;
    border-style: hidden;
    border-radius: 2px;
    padding: 6px;
    font-size: 13px;
    color: white;
    height: 25px;
    width: 80px;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.ss{
    background-color: skyblue;
    border-style: hidden;
    border-radius: 2px;
    padding: 6px;
    font-size: 13px;
    color: white;
    height: 25px;
    width: 80px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.sss{
    background-color: skyblue;
    border-style: hidden;
    border-radius: 2px;
    padding: 6px;
    font-size: 13px;
    color: white;
    height: 25px;
    width: 80px;
    margin-top: 4px;
    margin-bottom: 4px;

}
.r{
    background-color: red;
    border-style: hidden;
    border-radius: 2px;
    padding: 6px;
    font-size: 13px;
    color: white;
    height: 25px;
    width: 80px;
    margin-top: 4px;
    margin-bottom: 4px;

}